// Specific CSS for your home-page
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

@media ( min-width: 720px ) {  /** Größerer Viewport: Tablett **/
	.content {
    margin: 0 auto;
		width: 40%;
	}
}

.home {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  a {
    text-decoration: none;
  }
}
