// Specific CSS for your home-page
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  background-color: white;
}

.wrapper {
  position: relative;
}

.content {
  padding-top: 6rem;
  margin-bottom: 6.3rem;
}

.home {
  margin-left: 0.5rem;
  margin-right: 0.5rem;


  a {
    text-decoration: none;
  }
}
