// Specific CSS for your home-page
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  background-color: $ukr_blue;
}

.wrapper {
  position: relative;
}

.content {
  padding-top: 6rem;
}

.home {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 4rem;

  a {
    text-decoration: none;
  }
}
