.post {
  margin: 0 auto;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

#post-photo {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  position: absolute;
  top: 20.3rem;
  right: 2.7rem;

  .upvotes {
    background-color: $ukr_yellow;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    margin-right: 0.5rem;
  }

  .category {
    background-color: $light-gray;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
  }
}
