.post {
  margin: 0 auto;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

#post-photo {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

#icons {
  display: flex;
}


