.post {
  background-color: white;
  margin: 0 auto;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  color: $navy;
  border-radius: 10px;
  margin-bottom: 4rem;

  p {
    margin-top: -0.5rem;
    font-size: 12px;
    color: $datecolor;
    margin-bottom: 0.6rem;
  }

  img {
    border-radius: 10px;
  }

  h1 {
    font-weight: bolder;
  }
}

#post-photo {
  // position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    color: $navy;
  }

  .upvotes {
    background-color: $ukr_yellow;
    padding: 0.1rem 0.6rem;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 12px;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
  }

  .category {
    background-color: #eff3f8;
    margin-right: 0.3rem;
    padding: 0.1rem 0.4rem;
    border-radius: 15px;
    font-size: 12px;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 0.4rem;
  }
}

.mapboxgl-map {
  border-radius: 10px;
}

.contact-details {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-cta {
    background-color: $lightblue;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: $navy;
    border: 1px solid rgb(221, 221, 221);
    margin-right: 0.5rem;
    transition: 0.3s;
  }

.btn-cta:hover {
    background-color: white;
    color: $navy;
  }

.btn-cta-call {
    background-color: $ukr_yellow;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: $navy;
    border: 1px solid rgb(221, 221, 221);
    margin-right: 0.5rem;
    transition: 0.3s;
}

.btn-cta-call:hover {
  background-color: white;
  color: $navy;
}

.admin-action {
  display: flex;
  justify-content: space-between;
  background-color: $mainblue;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  margin: -1rem;
}
