.welcome {
  background-color: $mainblue;
  width: 100vw;
  height: 100vh;
  margin-top: -6rem;
  margin-bottom: -6.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  p {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }

  a {
    text-decoration: none;
  }
}

#question {
  p {
    font-size: 25px;
  }
}

#flag1 {
  #flag_top {
    background-color: $ukr_blue;
    height: 3.5rem;
    width: 12rem;
  }

  #flag_bottom {
    background-color: $ukr_yellow;
    height: 3.5rem;
    width: 12rem;
  }
}

#flag2 {
  #flag_bg {
    background-color: $navy;
    height: 7rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 4rem;
  }
}

// hover effects for desktop
  @media (hover: hover) {
    #flag1, #flag2 {
      transition: .3s;
    }

    #flag1:hover, #flag2:hover {
      transform: scale(1.03);
    }
  }
