<div class="bottom-menu">
  <%= link_to home_path, class: 'active' do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to new_post_path do %>
    <i class="fas fa-plus-circle"></i>
  <% end %>
  <%= link_to dashboard_path do %>
    <i class="fa-solid fa-user"></i>
  <% end %>
  <a class="search-btn" href="#">
    <i data-action="click->search#expand" class="fa-solid fa-magnifying-glass"></i>
  </a>
</div>
