<div class="bottom-menu">
  <%= link_to 'Feed', home_path, class: 'active' %>
  <%= link_to new_post_path do %>
    [ + ]
  <% end %>
  <%= link_to 'Dashboard', dashboard_path %>
  <%= link_to 'Login', new_user_session_path %>
</div>
