<div class="footer">
  <p>© 2022 Created by
    <a href="https://www.linkedin.com/in/laura-eve-victoria-grellmann-65b451233/" target="_blank">Laura</a>,
    <a href="https://www.linkedin.com/in/juliusappel/" target="_blank">Julius</a>,
    <a href="https://www.linkedin.com/in/miguellutz/" target="_blank">Miguel</a>,
    <a href="https://www.linkedin.com/in/moritz-quast/" target="_blank">Moritz</a>, & Co.</p>
  <div class="footer-links">
    <a href="https://www.instagram.com/ukraidcom/" target="_blank"><i class="fab fa-instagram-square"></i></a>
    <a href="https://www.linkedin.com/company/ukraid/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/juliusappel/ukrAID" target="_blank"><i class="fab fa-github-square"></i></a>
  </div>
</div>
