<div class="dashboard-head">
  <div class="about-page">
    <h1 class="centeredHeader">About ukrAID</h1>
    <br>
    <h2>What we're about</h2>
    <p>Providing people with reliable information about the war in Ukraine.
      A platform to inform and empower people in need, directly affected by the chrisis and those that seek to support and provide humanitarian aid.
    </p>
    <h2>Who we are</h2>
    <p>A collective of developers from across the globe, striving to help and provide support to the victims of the war in Ukraine</p>
    <br>
    <b><h2 class="centeredHeader">United we stand with Ukraine</h2></b>
    <br>
    <%= image_tag "logo_sm.webp", alt: "Logo ukrAID", class: "logo-ukr" %>
    <br>
  </div>
</div>
