<% content_for :title do %>
  ukrAID - Stand with Ukraine
<% end %>

<div class="welcome">
  <div id="question">
    <p>Where are you from?</p>
  </div>

  <%= link_to home_path(:location => "ukraine") do %>
    <div>
      <div id="flag1">
        <p>Ukraine / Україна</p>
        <div id="flag_top">
        </div>
        <div id="flag_bottom">
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to home_path(:location => "world") do %>
    <div>
      <div id="flag2">
        <p>Rest of the world</p>
        <div id="flag_bg">
          <%= image_tag 'logo_sm.webp' %>
        </div>
      </div>
    </div>
  <% end %>

</div>
