<% content_for :title do %>
  ukrAID - Stand with Ukraine
<% end %>

<div class="welcome">
  <div id="question">
    <p>Where are you from?</p>
  </div>

  <%= link_to home_path(:location => "ukraine") do %>
    <div>
      <div id="flag1">
        <p>Ukraine | Україна</p>
        <div class="flag">
          <div class="flag-half flag-top"></div>
          <div class="flag-half flag-bottom"></div>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to home_path(:location => "world") do %>
    <div>
      <div id="flag2">
        <p>Rest of the World</p>
        <div class="flag world-flag">
          <%= image_tag 'logo_sm.webp' %>
        </div>
      </div>
    </div>
  <% end %>

</div>
