.unsave-btn {
  display: block;
  background-color: lightgray;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: $navy;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.save-btn {
  display: block;
  background-color: $ukr_yellow;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: $navy;
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (hover: hover) {
    .save-btn {
      transition: .3s;

      &:hover {
        background-color: #F5CC00;
        color: $navy;
      }
    }
  }

.voting {
  display: flex;
  width: 100%;
  margin: 1rem 0;

  a {
    text-decoration: none;
  }

  #vote_score {
    width: 20%;
    background-color: lightgray;
    color: $navy;
    padding: 1rem;
    text-align: center;
  }

  .upvote-btn {
    background-color: rgb(75, 160, 75);
    color: white;
    border-radius: 8px 0 0 8px;
    padding: 1rem 0.5rem;
    width: 40%;
    text-align: center;
    transition: .3s;
    &:hover {
      background-color: #3B7D3B;
    }
  }

  .upvote-btn-blurred {
    background-color: rgb(67, 104, 67);
    color: lightgray;
  }

  .downvote-btn {
    background-color: rgb(214, 77, 77);
    color: white;
    border-radius: 0 8px 8px 0;
    padding: 1rem 0.5rem;
    width: 40%;
    text-align: center;
    transition: .3s;
    &:hover {
      background-color: rgb(136, 72, 72);
    }
  }

  .downvote-btn-blurred {
    background-color: #C82D2D;
    color: lightgray;
  }
}

.admin-btn {
  border: solid 1px $datecolor;
  padding: 8px 16px;
  border-radius: 8px;
  color: $datecolor;
  text-decoration: none;
  transition: 0.3s;
}

@media (hover: hover) {
  .admin-btn {
    transition: .3s;

    &:hover {
      border: solid 1px $navy;
      color: $navy;
    }
  }
}

.mari {
  margin-right: 0.3rem;
}

.submit-btn {
  display: block;
  background-color: $navy;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: white;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.marge-bot {
  margin-bottom: 1rem;
}
