.cards {
  ul {
    margin: 0;
    list-style-type: none;
  }
}

.card-list {
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  height: 130px;
  margin-bottom: 0.5rem;
  border: 0px solid white;
  box-shadow: 0px 2px 4px 4px rgba(192, 192, 192, 0.1);
  color: $navy;

  h4 {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 0.2rem;
  }

  .with-image {
    width: 60%;
    margin: 0;
    margin-top: 0.2rem;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .no-image {
    margin: 0;
    margin-top: 0.2rem;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .iconset {
    display: flex;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: auto;

    #vote_score {
      background-color: $ukr_yellow;
      padding: 0.1rem 0.6rem;
      border-radius: 15px;
      font-weight: bolder;
      font-size: 12px;
    }

    #ctgry {
      background-color: $lightblue;
      margin-right: 0.3rem;
      padding: 0.1rem 0.4rem;
      border-radius: 15px;
      font-size: 12px;
      border: 1px solid rgb(221, 221, 221);
    }
  }

  img {
    position: absolute;
    border-radius: 10px;
    height: 83px;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 35%;
    object-fit: cover;
  }
}
