.cards {
  ul {
    margin: 0;
    list-style-type: none;
  }
}

.card-list {
  margin: 0;
  padding: 0;
}

.feed-card {
  height: 156px;
  color: $navy;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  border-top: 1px $datecolor solid;
  border-bottom: 1px $datecolor solid;
  margin-bottom: -1px;

  .iconset {
    display: flex;

    #vote_score {
      background-color: $ukr_yellow;
      padding: 0.1rem 0.6rem;
      border-radius: 8px;
      font-weight: bolder;
      font-size: 12px;
    }

    #ctgry {
      background-color: $lightblue;
      margin-right: 0.3rem;
      padding: 0.1rem 0.4rem;
      border-radius: 15px;
      font-size: 12px;
      border: 1px solid rgb(221, 221, 221);
    }
  }
}

.card-content {
    h4 {
      font-size: 16px;
      font-weight: bolder;
    }

    p {
      font-size: 10px;
      color: $datecolor;
      margin-bottom: 0.5rem;
    }

    span {
      font-size: 12px;
      color: $datecolor;

      .trix-content {
        overflow: hidden;
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    img {
      border-radius: 50%;
      height: 80px;
      width: 80px;
      object-fit: cover;
    }
  }

@media only screen and (min-width: 480px) {
  .cards {
    width: 60vw;
    margin: 0 auto;
  }

  .feed-card {
    transition: .3s;

    &:hover {
      background-color: #EBF4FF;
    }
  }
}
