.cards {
  ul {
    margin: 0;
    list-style-type: none;
  }
}

.card-list {
  margin: 0;
  padding: 0;

  a {
    color: $navy;
  }
}

.feed-card {
  height: 152px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: white;

  .card-content {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .iconset {
      display: flex;
      margin-bottom: 0.5rem;

      #vote_score {
        background-color: $ukr_yellow;
        padding: 0.1rem 0.6rem;
        border-radius: 8px;
        font-weight: bolder;
        font-size: 12px;
      }

      #ctgry {
        background-color: $lightblue;
        margin-right: 0.3rem;
        padding: 0.1rem 0.4rem;
        border-radius: 8px;
        font-size: 12px;
        border: 1px solid rgb(221, 221, 221);
      }
    }

    h4 {
      font-size: 16px;
      font-weight: bolder;
    }

    p {
      font-size: 10px;
      color: $datecolor;
      margin-bottom: 0.5rem;
    }

    span {
      font-size: 12px;
      color: $datecolor;

      .trix-content {
        overflow: hidden;
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
  }

  img {
    border-radius: 8px;
    height: 152px;
    width: 96px;
    object-fit: cover;
    clip-path: polygon(24% 0, 100% 0%, 100% 100%, 4% 100%);
  }
}

@media only screen and (min-width: 480px) {
  .cards {
    width: 60vw;
    margin: 0 auto;
  }

  .feed-card {
    // transition: .3s;
    img {
      transition: .3s;
    }

    &:hover {
      img {
        width: 160px;
      }
    }
  }
}
