.mapboxgl-popup {
  max-width: 200px;
}

// .mapboxgl-popup-content {
//   text-align: center;
//   font-family: "Open Sans", sans-serif;
// }

.mapboxgl-popup-content a {
  font-weight: bold;
  color: #FED500;
  text-align: center;
}
