.navbar-lewagon {
  justify-content: space-between;
  background: $mainblue;
  padding-top: 25px;
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 1.75rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 18px;
  min-width: 160px;
  text-align: center;

  .dropbtn {
    background-color: $ukr_blue;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 10px;
    width: 100%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 0px 0px 24px 24px;
    padding: 10px;
    background-color: $ukr_blue;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    a {
      color: white;
      text-decoration: none;
      display: block;
      transition: .2s;
    }
  }
}

.dropdown:hover {
  .dropbtn {
    border-radius: 24px 24px 0px 0px;
  }

  .dropdown-content {
    display: block;

    &:hover a {
      color: $mainblue;
    }
  }

}

.search-box {
  width: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $ukr_blue;
  transform: translate(500px, -49px);
  transition: 1s all ease;
  height: 50px;
  border-radius: 40px;
  padding: 10px;
  padding-right: 0;

  @media only screen and (min-width: 768px) {
    display: flex;
    width: 215px;
    align-items: center;
    justify-content: center;
    background: $ukr_blue;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
    padding-right: 0;
    transform: none;
  }
}

.search-box-active {
  transform: translate(95px, -49px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-txt {
  border: none;
  background-color: transparent !important;
  box-shadow: none;
  color: white !important;
  box-shadow: none !important;
  outline: none;
  float: left;
  font-size: 16 px;
  transition: 0.4s;
  line-height: 40px;

  &::placeholder {
    color: white;
  }
}

.search-btn-bar {
  padding-right: 20px;
  margin-right: 12%;
  margin-bottom: 2%;
  color: white;
  float: right;
  margin-right: 10px;
  width: 20px;
  height: 30px;
  border: none;
  background: transparent;
  text-decoration: none;
  transition: 0.4s;
}

.navbar-collapse {
  background-color: $mainblue;
  width: 100%;
  padding-right: 2rem;

  .navbar-collapse .show {
    .search-box-active {
      transform: translate(95px, -49px) !important;
    }
  }
}

#navbarSupportedContent {
  padding: 0 2rem 2rem 2rem;
  transform: translate(0px, -30px);

  a {
    color: white;
    border-bottom: 0.5px solid white;
  }
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
  z-index: -2;
}

.navbar-toggler {
  margin-right: 1rem;
  border: none;
}

.category-dropdown {
  background-color: $ukr_blue;
  border-radius: 30px;
  padding: 10px 40px;

  span {
    color: white;
    font-size: 18px;
  }
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: transparent;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.bottom-menu {
  position: absolute;
  background-color: $ukr_blue;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 12px;
  }
}

/* Style the links inside the navigation bar */
.bottom-menu a {
  float: left;
  display: block;
  width: 25%;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  z-index: 10000;
}

/* Change the color of links on hover */
.bottom-menu a:hover {
  background-color: $mainblue;
  color: white;
}

/* Add a color to the active/current link */
.menu-active {
  background-color: $mainblue;
  color: white;
}
