.navbar-lewagon {
  justify-content: space-between;
  background: $mainblue;
  height: 6rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 1rem;
}

.navbar-toggler {
  margin-right: 1rem;
}

.category-dropdown {
  background-color: $ukr_blue;
  border-radius: 30px;
  padding: 10px 40px;

  span {
    color: white;
    font-size: 18px;
  }
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: transparent;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.bottom-menu {
  background-color: $ukr_blue;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.bottom-menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.bottom-menu a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.bottom-menu a.active {
  background-color: $mainblue;
  color: white;
}
