.navbar-lewagon {
  justify-content: space-between;
  background: $mainblue;
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 1rem;
}

.search-box{
  background: $ukr_blue;
  transform: translate(404px, -49px);
  transition: 1s all ease;
  height: 50px;
  border-radius: 40px;
  padding: 10px;
  padding-right: 0;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.search-box-active {
  transform: translate(77px, -49px) !important;
}

.search-txt {
  border: none;
  margin-left: 2px;
  margin-right: 2px;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16 px;
  transition: 0.4s;
  line-height: 40px;
}

.search-btn:hover > .search-txt {
  width: 240px;
}

.search-btn {
  color: white;
  float: right;
  width: 30px;
  margin-right: 10px;
  height: 30px;
  border-radius: 50%;
  background: $ukr_blue;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.navbar-toggler {
  margin-right: 1rem;
}

.category-dropdown {
  background-color: $ukr_blue;
  border-radius: 30px;
  padding: 10px 40px;

  span {
    color: white;
    font-size: 18px;
  }
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: transparent;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.bottom-menu {
  position: absolute;
  background-color: $ukr_blue;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.bottom-menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  z-index: 10000;
}

/* Change the color of links on hover */
.bottom-menu a:hover {
  background-color: $ukr_blue;
  color: black;
}

/* Add a color to the active/current link */
.bottom-menu a.active {
  background-color: $mainblue;
  color: white;
}
